
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<LTW_FFOOD.Models.Food>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    .table th {
        background-color: lightpink;
    }

    .table td {
        text-align: center;
        font-weight: 600;
    }
    .pagination {
        margin: 20px 0;
        
    }
        .pagination a {
            color: #007bff;
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #007bff; 
            margin: 2px;
            border-radius: 10px;
            transition: all 0.3s;
        }
        .pagination .pagination-container{
            margin-left:350px;
        }
        .pagination a:hover {
            background-color: #007bff;
            color: white;
            transform: scale(1.1);
        }

        .pagination .active a {
            background-color: #007bff;
            color: white;
            transform: scale(1.1);
        }
        
</style>
<h2>Quản lý sản phẩm</h2>
<form class="d-flex flex-row align-items-center col-10 flex-wrap" action="/Admin/Sanpham/sanpham" style="margin-bottom:20px;">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search"
           class="form-control w-auto"
           id="search"
           name="search"
           placeholder="Search" />
    <button type="submit" class="btn btn-primary mx-2">Tìm</button>
    <a href="/Admin/Sanpham/Themmoi" class="btn btn-success mx-2">Thêm mới </a>
</form>


<table class="table table-bordered">
    <tr>
        <th>ID món</th>
        <th>Tên món</th>
        <th>Id loại món</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Hình ảnh</th>
        <th>    </th>
        <th>    </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 1;
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.food_id</td>
                <td>@item.food_name</td>
                <td>@item.id_catagory</td>
                <td>@item.price.ToString("#,##0")</td>
                <td>@item.description</td>
                <td> <img style="width:130px;height:100px" src="~/image/@item.image" /></td>
                <td>
                    <a href="/Admin/Sanpham/Edit/@item.food_id" class="btn btn-info">Edit</a>

                </td>
                <td>
                    <a href="/Admin/Sanpham/Delete/@item.food_id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
    }

</table>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("sanpham", new { page, pagesize = Model.PageSize, search = Request.QueryString["search"] }),
        new PagedListRenderOptions() {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "<",
            LinkToNextPageFormat = ">",
            LinkToLastPageFormat = ">>",
            UlElementClasses = new string[] { "pagination" }, // Sử dụng class 'pagination' của Bootstrap
            ClassToApplyToFirstListItemInPager = "page-item", // Sử dụng class 'page-item' của Bootstrap
            ClassToApplyToLastListItemInPager = "page-item", // Sử dụng class 'page-item' của Bootstrap
            DisplayLinkToNextPage = PagedListDisplayMode.Always, // Sử dụng class 'page-link' của Bootstrap
          DisplayLinkToPreviousPage = PagedListDisplayMode.Always, // Sử dụng class 'page-link' của Bootstrap
          DisplayLinkToLastPage = PagedListDisplayMode.Always, // Sử dụng class 'page-link' của Bootstrap
         DisplayLinkToFirstPage = PagedListDisplayMode.Always, // Sử dụng class 'page-link' của Bootstrap
    })
</div>
